.Grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.Frame{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

@media (max-width: 870px){
  .Frame{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media(min-width: 1135px){
  .Frame{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}